
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import '~vue-toastr/src/vue-toastr';
@import "~nprogress/nprogress";
@import "~vuetify/dist/vuetify.css";



.error {
  background-color: #ff5252 !important;
  border-color: #ff5252 !important;
}
.error--text {
  color: #ff5252 !important;
}
.error--text input,
.error--text textarea {
  caret-color: #ff5252 !important;
}
.error--after::after {
  background: #ff5252 !important;
}

